body {
	background-image: url(img2/8516.jpg);
	background-repeat: no-repeat;
	background-position:center;
	background-color: black;
	color: rgb(153, 56, 177);
	text-align: center;
	}

header {
	background-image: url(img2/8516.jpg);
	background-color: rgba(241, 16, 223, 0.199);
	height: 150px;
	overflow:hidden;
	text-align:center;
	color: hsl(305, 59%, 85%);
	font-size: 40px;
	font-family:Lucida Handwriting;
	font-weight: bolder;
	text-shadow: 10px 1px 8px rgba(240, 8, 143, 0.938);
	letter-spacing: 4px;
	font-style: italic;
}

p {
	
	
	color: hsl(325, 52%, 94%);
	font-size: 30px;
	font-family: gabriola;
	font-weight:bolder;
	text-shadow: 10px 1px 8px rgba(20, 4, 18, 0.945);
	letter-spacing: 1px;
	background-color: rgba(241, 6, 210, 0.192);
    
 
}

#container {
	 background-image: url(img2/fondo.jpg);
	 background-repeat: no-repeat;
	 background-size: cover;
	 height: 500px;
	 width: 500px;
	 text-align: center;
	border: 10px solid hsla(315, 77%, 67%, 0.603);
    margin: auto;
	border-radius: 30px;
	
}


label{
	
	color:rgb(241, 188, 225);
	text-shadow: 10px 1px 8px rgba(32, 4, 29, 0.959);
	background-color: hsla(300, 87%, 6%, 0.5);
	font-size: 40px;
	font-family: gabriola;
	font-weight:bolder;
	letter-spacing: 4px;
	margin-left: 70px;
	
    
}

#usuario {
	border: 0;
	background-color: hsla(315, 81%, 66%, 0.973);
	border-radius: 10px;
	border: 3px solid rgb(10, 160, 235);
	width: 170px;
	font-size: 20px;
	padding: 6px;

}

input checkbox {
	border: 0;
	background-color: hsla(315, 81%, 66%, 0.973);
	border-radius: 10px;
	border: 3px solid rgb(10, 160, 235);
	width: 170px;
	font-size: 20px;
	padding: 6px;
}

#clave {
	border: 0;
	background-color: hsla(315, 81%, 66%, 0.973);
	border-radius: 10px;
	border: 3px solid rgb(10, 160, 235);
	width: 170px;
	font-size: 20px;
	padding: 6px;
}

nav {
	background-image: url(img2/8516.jpg);
	background-repeat: no-repeat;
	background-position:center;
	border-radius: 10px;
	border: 5px solid rgba(241, 133, 236, 0.822);
	padding: 20px;
    text-align: center;
}

button {
	background-color: rgba(255, 182, 193, 0.801);
	border-radius: 10px;
	border: 3px solid rgba(241, 133, 236, 0.822);
	width: 430px;
	font-size: 20px;
	padding: 5px;
	font-size: 30px;
	font-family: gabriola;
	font-weight:bolder;
	text-shadow: 1px 1px 1px rgba(240, 195, 232, 0.993);
	letter-spacing: 4px;
}

h2 {
	text-align: center;
	color: rgb(241, 235, 241);
}

h3{
	color:rgb(245, 229, 205);
	background-color: hsla(300, 4%, 5%, 0.658);
	
}

textarea {
	background-color: rgba(255, 182, 193, 0.781);
	border-radius: 10px;
	border: 3px solid rgba(231, 9, 220, 0.822);
}




